body {
	margin: 0;
	background-color: #f5f5f5;
	counter-reset: section;
}

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.website {
	color: black;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100px 300px;
    grid-gap: 5px;
    grid-template-areas: "header header header header"
                         "main main main aside"
                         
}

.main-menu {
	display: inline;
	font-size: 14px;
	color: #c2c4c6;
}

.logo, .main-menu {
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px 10px 20px;
}

.logo {
	color: white;
	padding: 20px;
	font-size: 22px
}

li {
	display: inline-flex;

}

.navigation {
	background-color: #333333;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.website header {
    grid-area: header;
}

.website aside {
    grid-area: aside;
}



.website main {
    grid-area: main;
}

p {
	color:#8a8c8e;
}

section {
	background-color: #fff;
	padding: 10px;
	margin: 15px;
	
}



aside {
	margin-right: 20px;
}

.article-container {
	display: grid;
	grid-template-rows: repeat(2, 50%);
	grid-template-columns: repeat(5, 20%);
	grid-gap: 5px;
	padding: 7px 7px 7px 0;
	align-content: center;
	margin: 10px auto;
	margin-right: 15px;
}

.foto {
width: 100%;
height: 100%;
}

.side-menu-div {
	border: 1px solid black;
	border-radius: 50%;
	padding: 9px;
	margin-right: 8px;
	text-align: center;
	width: 40px;
	height: 40px;
}

.facebook, .instagram {
	border: 1px solid blue;
}

.twitter {
	border: 1px solid #42d1f4;
}

.google, .youtube, .rss, .pinterest {
	border: 1px solid #ed240e;
}

.rss, .soundcloud {
	border: 1px solid #ea4204;
}

.fa-facebook-f, .fa-instagram {
	color: blue;
}

.fa-twitter {
	color: #42d1f4;
}

.fa-pinterest-p, .fa-google-plus-g {
	color: #ed240e;
}

.fa-linkedin-in, .fa-tumblr {
	color: black;
}

.fa-rss, .fa-soundcloud {
	color: #ea4204;
}

.icon, .fab, .fas {
	width: 15px;
	height: 15px;
	margin: 0px;

	}

.aside-h1 {
	display: inline;
	border-top: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
	text-transform: uppercase;
}

.aside-article, .post {
	padding-top: 10px;
	border-top: 1px solid grey;
}

input {
	width: 95%;
	font-size: 12px;
	padding: 6px 0 6px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 15px;
	margin: 20px 0 20px 0;
}

input:hover {
	border: 1px solid #06070a;
	transition: .3s ease-in-out;
}

.number-div {
	/*display: flex;
	flex-direction: row;*/
	padding: 10px;
	margin: 10px;
	border-bottom: 1px solid grey;
}

.acide-h2, .number {
	font-size: 12px;
	text-decoration: none;
	color: grey;
}

.acide-h2::before {
	display: inline-block;
	counter-increment: section;
    content: counter(section) "";
    border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 50%;
	padding: 12px;
	width: 14px;
	height: 14px;
	text-align: center;
	margin: 5px;
}

.number {
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 50%;
	padding: 9px;
	width: 35px;
	height: 35px;
	text-align: center;
}

.number-link {
	text-decoration: none;
	margin: 10px 10px 10px 0;
}
